---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer">
  <slot /><span class="visually-hidden"> (opens in new tab)</span>
</a>
